<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
  	
  
    <p>El portal donde podras crear sus propios juegos!</p>

    <!-- <p><a href="/question">Comience a jugar</a></p>  -->
    <!-- esto es para añadir un link a las pagina de question -->


  </body>
</html>
